<div class="container">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-5">
            <div class="form-group row">
                <label class="col-md-6 col-form-label">
                    {{ form_label(form.name) }}
                </label>
                <div class="col-md-6">
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-6 col-form-label" for="{{ form.dateStart.vars.id }}">
                    {{ form_label(form.dateStart) }}
                </label>
                <div class="col-md-6">
                    {{ form_errors(form.dateStart) }}
                    {{ form_widget(form.dateStart) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-6 col-form-label">
                    {{ form_label(form.dateLimitRegistration) }}
                </label>
                <div class="col-md-6">
                    {{ form_errors(form.dateLimitRegistration) }}
                    {{ form_widget(form.dateLimitRegistration) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-6 col-form-label">
                    {{ form_label(form.maxRegistration) }}
                </label>
                <div class="col-md-3">
                    {{ form_errors(form.maxRegistration) }}
                    {{ form_widget(form.maxRegistration) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-6 col-form-label">
                    {{ form_label(form.duration) }}
                </label>
                <div class="col-md-3">
                    {{ form_errors(form.duration) }}
                    {{ form_widget(form.duration) }}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="form-group row">
                    <label class="col-md-7 col-form-label">
                        Campus
                    </label>
                    <div class="col-md-5">
                        {{ app.user.campus.name }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-7 col-form-label">
                        {{ form_label(form.city) }}
                    </label>
                    <div class="col-md-5">
                        {{ form_errors(form.city) }}
                        {{ form_widget(form.city) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-7 col-form-label">
                        {{ form_label(form.location) }}
                    </label>
                    <div class="col-md-5">
                        {{ form_errors(form.location) }}
                        {{ form_widget(form.location) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-7 col-form-label">
                        Rue
                    </label>
                    <div id="location-street" class="col-md-5">

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-7 col-form-label">
                        Code Postal
                    </label>
                    <div id="location-zipcode" class="col-md-5">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">
                    {{ form_label(form.eventInfo) }}
                </label>
                <div class="col-md-9">
                    {{ form_errors(form.eventInfo) }}
                    {{ form_widget(form.eventInfo) }}
                </div>
            </div>
        </div>
        <div class="pt-3 d-flex align-items-center justify-content-center">
            <div class="mx-2">{{ form_widget(form.save) }}</div>
            <div class="mx-2">{{ form_widget(form.publish) }}</div>
            <div class="ms-2"><a href="{{ path('app_event_index') }}" class="btn btn-primary">Retour à la liste</a></div>
        </div>
    </div>
    {{ form_end(form) }}
</div>

<script>
    //Récupère les éléments ville et lieu
    var citySelect = document.getElementById('event_city');
    var locationSelect = document.getElementById('event_location');
    var streetDisplay = document.getElementById('location-street');
    var zipcodeDisplay = document.getElementById('location-zipcode');

    // Fonction pour mettre à jour les options disponibles dans le sélecteur de lieu.
    function updateLocationOptions(locations) {
        // Efface toutes les options précédentes du sélecteur de lieu.
        locationSelect.options.length = 0;

        var defaultOption = new Option('Choisissez un lieu', '');
        locationSelect.options.add(defaultOption);

        // Vérifie si la liste des lieux n'est pas vide.
        if (locations.length > 0) {
            // Pour chaque lieu dans la liste, crée une nouvelle option dans le sélecteur de lieu.
            locations.forEach(function(location) {
                // S'il n'y a pas de lieux disponibles, ajoute une option "Aucun lieu".
                var option = new Option(location.name, location.id);
                option.dataset.street = location.street;
                option.dataset.zipcode = location.zipcode;
                locationSelect.options.add(option);
            });
        } else {
            var noOption = new Option('Aucun lieu', '');
            // Réactive la sélection de lieu pour permettre à l'utilisateur de choisir.
            locationSelect.options.add(noOption);
        }
        locationSelect.disabled = false; // réactive la selection du lieu après selection de la ville
    }

    // Evénement détecte le changement de sélection de la ville.
    citySelect.onchange = function () {
        // Vérifie si une ville est sélectionnée.
        if (this.value) {
            // Fetch pour obtenir les lieux associés à la ville sélectionnée.
            fetch(`/location/get-locations/${this.value}`)
                .then(response => response.json())
                .then(data => {
                    // Met à jour les options du sélecteur de lieu avec les données reçues.
                    updateLocationOptions(data);
                })
                .catch(error => console.error('Error:', error));
            // Efface les informations d'adresse et de code postal
            streetDisplay.textContent = '';
            zipcodeDisplay.textContent = '';
        } else {
            // Désactive le sélecteur de lieu et efface les options
            locationSelect.disabled = true;
            locationSelect.options.length = 0;
            var defaultOption = new Option('Choisissez un lieu', '');
            locationSelect.options.add(defaultOption);

            // Efface les informations d'adresse et de code postal
            streetDisplay.textContent = '';
            zipcodeDisplay.textContent = '';
        }
    };
    // Evénements détecte le changement de sélection du lieu
    locationSelect.onchange = function () {
        // Récupère l'option sélectionnée
        var selectedOption = this.options[this.selectedIndex];

        // Vérifie si une option valide est sélectionnée (i.e., si elle a une valeur)
        if (selectedOption.value) {
            // Met à jour les éléments HTML avec la rue et le code postal du lieu sélectionné
            streetDisplay.textContent = selectedOption.dataset.street || '';
            zipcodeDisplay.textContent = selectedOption.dataset.zipcode || '';
        } else {
            // Efface les informations d'adresse et de code postal
            streetDisplay.textContent = '';
            zipcodeDisplay.textContent = '';
        }
    };
</script>







