{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Login
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal text-center main-style">Veuillez vous identifier</h1>
    <label for="inputEmail" class="main-style">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword" class="main-style">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="checkbox mb-3">
        <label class="main-style">
            <input type="checkbox" name="_remember_me"> Se souvenir de moi
        </label>
    </div>


    <button class="btn btn-primary" type="submit">
        Se connecter
    </button>
    <a href="{{ path('app_forgot_password_request') }}" class="form-style">Mot de passe oublié ?</a>

</form>
    </div>
{% endblock %}
