{% extends 'base.html.twig' %}

{% block title %}Liste des villes - {{ parent() }}{% endblock %}

{% block body %}
    {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1 class="text-center mb-5">Gérer les villes</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Ville</th>
                <th>Code Postal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.name }}</td>
                <td>{{ city.zipcode }}</td>
                {# <td>
                    <a href="{{ path('app_admin_edit', {'id': user.id}) }}"><img src="{{ asset('img/icon/construction.png')}}" width="25px" title="Modifier l'utilisateur"></a>
                </td> #}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ include('inc/_backBtn.html.twig') }}


{% endblock %}