{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil - {{ parent() }}{% endblock %}

{% block body %}
    {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>Modifier mon profil</h1>
<div class="container form-style">
    {{ form_errors(form) }}

    {{ form_start(form) }}
    {{ form_row(form.username, {
        label: 'Pseudo :',
        attr: {'class': 'form-control',
            'autocomplete' : 'username'
        }
    }) }}
    {{ form_row(form.lastname, {
        label: 'Nom :',
        attr: {'class': 'form-control',
            'autocomplete' : 'lastname'
        }
    }) }}
    {{ form_row(form.firstname, {
        label: 'Prénom :',
        attr: {'class': 'form-control',
            'autocomplete' : 'name'
        }
    }) }}
    {{ form_row(form.email, {
        label: 'Email :',
        attr: {'class': 'form-control',
            'autocomplete' : 'email'
        }
    }) }}
    {{ form_row(form.phone, {
        label: 'Téléphone :',
        attr: {'class': 'form-control',
            'autocomplete' : 'telephone'
        }
    }) }}

    {{ form_row(form.campus, {
        label: 'Campus :',
        attr: {'class': 'form-control',
            'autocomplete' : 'campus'}
    }) }}

    {{ form_row(form.profilePicture, {
        label: 'Photo de profil :',
    }) }}


    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-primary">Retour</a>
    <button type="submit" class="btn btn-primary">Valider les modifications</button>
    <a href="{{ path('app_user_edit_password', {'id': user.id}) }}" class="btn btn-primary">Modifier mon mot de passe</a>
    {{ form_end(form) }}
</div>
{% endblock %}
