{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    {% if isOwnProfile %}
        <h1 class="text-center">My profile</h1>
    {% else %}
        <h1 class="text-center">{{ user.username }}</h1>
    {% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>Status</th>
                <td>{{ user.campus.name }}</td>
            </tr>
            {% if isOwnProfile %}
                <tr>
                    <th>Username</th>
                    <td>{{ user.username }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
    {% if isOwnProfile %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_user_index') }}">User managing</a>
        {% else %}
            <a href="{{ path('app_event_index') }}">back to list</a>
        {% endif %}
            <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

        {{ include('user/_delete_form.html.twig') }}

    {% else %}
        {{ include('inc/_backBtn.html.twig') }}
    {% endif %}
{% endblock %}

