{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% if isOwnProfile %}
        <h1 class="text-center">Mon profil</h1>
    {% else %}
        <h1 class="text-center">{{ user.username }}</h1>
    {% endif %}

    <table class="table">
        <tbody>
            {% if isOwnProfile %}
                <tr>
                    <th>Pseudo</th>
                    <td>{{ user.username }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Campus</th>
                <td>{{ user.campus.name }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
    {% if isOwnProfile %}

            <a href="{{ path('app_event_index') }}" class="btn btn-primary">Retour</a>

            <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>

    {% else %}
        {{ include('inc/_backBtn.html.twig') }}
    {% endif %}
{% endblock %}

